* {
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    align-items: center;
    justify-content:space-around;
    background-color:#80808094;
    width: 100%;
    padding: 20px 0px;
    

}


nav li{
    display: inline;
    padding-inline-start: 15px;
    position: relative;
    
    
}

nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;

}
nav a:hover{
    color:rgb(236, 236, 236);
    text-decoration: underline;
}




footer{
    text-align: center;
    background: url("img/bg.jpg");
    margin-top: 55px;
    color: aliceblue;
    padding: 30px;
    height: 250px;
}


main{
    width: 940px;
    margin: 0 auto
}

form{
    margin: 40px 0;
    
}

/*para deixar o formulário em linhas e nao colunas*/
form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-pradrao  {
    display: flex;
    margin: 0 0 25px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox{
   margin: 20px 0;
    
}

fieldset{
    display: flex;
    margin: 0 0 25px;
    padding: 10px 25px;
    width: 50%;
    border: none;
}

.enviar{
    width: 30%;
    padding: 15px 0;
    background:rgb(0, 0, 0) ;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    
}

.enviar:hover{
    transition: 0.7s all;
    background:rgb(236, 236, 236);
    color:black;
    /* aumenta 10% o botao e rotaciona*/;
    transform: rotate(8deg) scale(1.1) ;
    
}

table{
    margin: 20px 40px;
    border: 1px black solid;
}

thead{
    background: #555555;
    color: white;
    font-weight: bold;
}

td, th{
    border: 1px black solid;
    padding:  8px 15px ;
}